/* Custom Font */
@font-face {
    font-family: Concrete;
    src: url(assets/fonts/Concrete-Regular.otf);
}

/* Body background */
body {
    background-image: url(assets/bg.png);
    padding: 1px;
}

/* Logo styling */
#logo {
    height: 39px;
    opacity: 0px;
}

/* Navbar links */
.nav-link {
    color: #141414;
    font-size: 20px;
    text-align: right;
}

.nav-link:hover {
    color: #141414;
    padding: 21px;
}

/* Title styling */
h1 {
    font-size: 281px;
    font-family: Concrete;
    text-align: center;
    padding: 0%;
    margin-bottom: -5%;
}

/* Additional text styling */
#subtitle {
    text-align: end;
    font-size: 16px;

}

/* School image styling */
#school {
    width: 100%;
    max-width: 1348px;
    height: auto;
    margin-top: 2%;
}

/* Project name styling */
#project-name {
    font-family: Concrete;
    font-size: 80px;
    text-align: start;
    margin-top: 15%;
    margin-bottom: -5%;
}

/* Description text styling */
#description {
    font-size: 25px;
    text-align: right;
}

/* class that represents description texts */
.explanation {
    font-size: 30px;
    line-height: 1.6;
    text-align: left;
    margin-left: 15px;
}
.top{
    margin-top: 60px;
}

#left {
    text-align: left;
}

/* diafilm image */
#school2 {
    height: 772px;
    width: 411px;
    margin-top: 15%;
    margin-left: 10%;
}